version: '3.7'

services:
  fixturenet-eth-bootnode-geth:
    hostname: fixturenet-eth-bootnode-geth
    env_file:
      - ../config/fixturenet-eth/fixturenet-eth.env
    environment:
      RUN_BOOTNODE: "true"
    image: cerc/fixturenet-eth-geth:local

  fixturenet-eth-geth-1:
    hostname: fixturenet-eth-geth-1
    env_file:
      - ../config/fixturenet-eth/fixturenet-eth.env
    image: cerc/fixturenet-eth-geth:local
    depends_on:
      - fixturenet-eth-bootnode-geth
    ports:
      - "8545"

  fixturenet-eth-geth-2:
    hostname: fixturenet-eth-geth-2
    environment:
      RUN_STATEDIFF: "true"
      STATEDIFF_DB_NODE_ID: 2
    env_file:
      - ../config/fixturenet-eth/fixturenet-eth.env
    image: cerc/fixturenet-eth-geth:local
    depends_on:
      - migrations
      - fixturenet-eth-bootnode-geth

  fixturenet-eth-bootnode-lighthouse:
    hostname: fixturenet-eth-bootnode-lighthouse
    environment:
      RUN_BOOTNODE: "true"
    image: cerc/fixturenet-eth-lighthouse:local

  fixturenet-eth-lighthouse-1:
    hostname: fixturenet-eth-lighthouse-1
    env_file:
      - ../config/fixturenet-eth/fixturenet-eth.env
    environment:
      NODE_NUMBER: "1"
      ETH1_ENDPOINT: "http://fixturenet-eth-geth-1:8545"
      EXECUTION_ENDPOINT: "http://fixturenet-eth-geth-1:8551"
    image: cerc/fixturenet-eth-lighthouse:local
    depends_on:
      - fixturenet-eth-bootnode-lighthouse
      - fixturenet-eth-geth-1
    ports:
      - "8001"
  
  fixturenet-eth-lighthouse-2:
    hostname: fixturenet-eth-lighthouse-2
    env_file:
      - ../config/fixturenet-eth/fixturenet-eth.env
    environment:
      NODE_NUMBER: "2"
      ETH1_ENDPOINT: "http://fixturenet-eth-geth-2:8545"
      EXECUTION_ENDPOINT: "http://fixturenet-eth-geth-2:8551"
      LIGHTHOUSE_GENESIS_STATE_URL: "http://fixturenet-eth-lighthouse-1:8001/eth/v2/debug/beacon/states/0"
    image: cerc/fixturenet-eth-lighthouse:local
    depends_on:
      - fixturenet-eth-bootnode-lighthouse
      - fixturenet-eth-geth-2
